@page "/cart"
@model CartViewModel
@{
    ViewData["Title"] = "Cart View Page";
}

<div>
    @if (Model.Cart.Count != 0)
    {
        <h1 class="display-4">My Shopping Cart</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.Cart)
            {
                <tr>
                    <td>
                        @if (product.Image != null && product.Image.Length > 0)
                        {
                            <img src="@product.GetImageBase64()"
                                 alt="@product.Name"
                                 style="max-width: 100px; max-height: 100px;"/>
                        }
                    </td>
                    <td>
                        <a asp-page="ProductView"
                           asp-route-id="@product.Id">
                            @product.Name
                        </a>
                    </td>
                    <td>@product.Description</td>
                    <td>@product.Price.ToString("C")</td>
                </tr>
            }
            </tbody>
        </table>
        <p1>Total price: @Model.TotalPrice</p1>
        
        <div class="mt-3">
            <form method="post" asp-page-handler="CreateOrder" class="d-inline-block me-2">
                <button type="submit" class="btn btn-success">Place Order</button>
            </form>
            
            <form method="post" class="d-inline-block">
                <button class="btn btn-primary">Clear Cart</button>
            </form>
        </div>
        
        if (Model.PlaceOrderFailed)
        {
            <p style="color: red;">Failed to place order.</p>
        }

        if (Model.OrderPlaced)
        {
            <p style="color: green;">Order placed successfully.</p>
            <a asp-route="/orderhistory">See orders here.</a>
        }
    }
    else
    {
        <h1>Your shopping cart is empty!</h1>
        <p>Add products to the shopping cart to view them here.</p>
    }
</div>