@page "/product/{id:int}"
@model ProductViewModel
@{
    ViewData["Title"] = Model.Product?.Name ?? "Product";
}

@if (Model.Product == null)
{
    <h2>Product not found</h2>
}
else
{
    <div class="product-container">
        <div class="product-image">
            <img src="@Model.Product.GetImageBase64()" alt="@Model.Product.Name" style="max-width: 300px;"/>
        </div>
        <div>
            <h1>@Model.Product.Name</h1>
            <p>Description: @Model.Product.Description</p>
            <p>Category: @Model.Product.Category</p>
            <p>Price: @Model.Product.Price.ToString("C")</p>

            <form method="post">
                <label for="quantity">Amount:</label>
                <input type="number" name="Amount" id="amount" min="1" value=@Model.Amount/>

                <input type="hidden" asp-for="Product.Id"/>
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
            
            @if (Model.OrderPlaced)
            {
                <p style="color: green">
                    Added to shopping cart!
                    <a asp-page="/Cart">Go to shopping cart</a>
                </p>
            }
        </div>
    </div>
}